body {
    margin: 0;
}
#topbar {
    height: 15px;
    background-image: linear-gradient(to right, red, orange
    );
  display:flex;
  justify-content: center;
  align-items: bottom;
 
}
#unico-1 {
    background-color: white;
}
.linha-top {
    display: flex;
    justify-content: center;
}
.linha-top p {
    justify-content: center;
    font-size: 50px;
}
.linha-bottom {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-size: 35px;
    margin-bottom: 50px;
}
.home {
    margin-right: 15px;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    max-width: 100%;
    height: auto;
}

